--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

pandas
numpy
scipy
scikit-learn
matplotlib
pyyaml
tqdm
requests
lxml
pymupdf
torch==2.9.0
openpyxl
numba
joblib
pytest
playwright==1.59.0
websocket-client
